.float-left a {
            color: transparent;
            text-decoration: none;
        }

        .float-left p {
            color: transparent;
        }

        #theme-main-banner {
            position: relative;
            overflow: hidden;
            height: 500px;
        }

        .slide {
            position: absolute;
            top: 0;
            left: 100%; /* Start off-screen */
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            transition: left 1s ease-in-out, opacity 1s ease-in-out;
            opacity: 0; /* Not visible by default */
        }

        .slide.active {
            left: 0; /* Bring active slide into view */
            opacity: 1; /* Make it visible */
            z-index: 1; /* Ensure it's on top */
        }

        .camera_caption {
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            z-index: 2;
        }

        .container-banner p,
        .container-banner h1,
        .container-banner a {
            opacity: 0;
            animation: fadeInUp 1s forwards;
        }

        .container-banner h1 {
            animation-delay: 0.2s;
        }

        .container-banner a {
            animation-delay: 0.4s;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }



.top-feature-section-spacing {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.top-features-slide {
    margin: 3%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    scrollbar-width: none;
}

.top-features-slide::-webkit-scrollbar {
    display: none;
}

.item-consumer-insights,
.item-emerging-ideas,
.item-thought-leadership,
.item-marketing-goals {
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    scroll-snap-align: start;
}

.item-consumer-insights:hover,
.item-emerging-ideas:hover,
.item-thought-leadership:hover,
.item-marketing-goals:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content img {
    max-width: 50%;
    margin-bottom: 20px;
}

.main-content h4 {
    color: black;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.main-content p {
    color: #666;
    line-height: 1.5;
}

.item-consumer-insights:hover h4,
.item-emerging-ideas:hover h4,
.item-thought-leadership:hover h4,
.item-marketing-goals:hover h4 {
    color: #D8B528;
}

.item-consumer-insights::after,
.item-emerging-ideas::after,
.item-thought-leadership::after,
.item-marketing-goals::after {
    content: '';
    display: block;
    margin: 20px auto 0;
    width: 50px;
    height: 2px;
    background-color: #ddd;
}

@media (min-width: 769px) {
    .item-consumer-insights,
    .item-emerging-ideas,
    .item-thought-leadership,
    .item-marketing-goals {
        width: 21.666%;
        max-width: 370px;
    }
}

.container-about, .container-short-banner, .container-contact {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    align-items: center;
}

.col-12, .col-lg-6, .col-lg-5, .col-lg-7, .col-sm-6, .col-xl-6, .col-lg-4 {
    padding: 10px;
    box-sizing: border-box;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-6, .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-lg-4, .col-sm-6 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-img {
    flex: 0 0 40%;
    max-width: 40%;
}

.col-text {
    flex: 0 0 60%;
    max-width: 60%;
}

.text {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .col-text {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-img {
        display: none;
    }
}

.our-case-section-spacing {
    padding: 20px;
}

.theme-title-products {
    text-align: center;
    margin-bottom: -4%;
    margin-top: 2%;
}

.product-section {
    padding: 4%;
}

.product-title {
    text-align: center;
    margin-bottom: 20px;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-column {
    flex: 0 0 45%;
    max-width: 45%;
    margin: 10px;
    box-sizing: border-box;
}

.product-block {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px; /* Set a height for visibility */
}

.product-block img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the block */
    display: block;
}

.product-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-block:hover .product-hover {
    opacity: 1;
}

.product-text {
    color: black; /* Default text color */
    text-align: left;
    transition: color 0.3s;
}

.product-block:hover .product-text {
    color: #FFD700; /* Text color on hover */
}

.product-text h5 {
    margin: 0 0 5px;
}

.product-text p {
    margin: 0 0 10px;
}



.product-link {
    font-size: large;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline */
}

.product-hover:hover {
    background-color: #c3a321;
}


.consultation-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 3%;
}

.consultation-title {
    text-align: center;
    margin-bottom: 40px;
}

.consultation-heading {
    font-size: 38px;
    font-weight: 900;
    color: #232323;
    margin-bottom: 10px;
}

.consultation-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.consultation-image-col,
.consultation-form-col {
    flex: 1;
    min-width: 300px;
    box-sizing: border-box;
}

.consultation-image {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

.consultation-form-wrapper {
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.consultation-form .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 400px;
}

.consultation-form input,
.consultation-form .input-select,
.consultation-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 12px;
    font-size: 16px;
    outline: none;
}

.consultation-form textarea {
    resize: none;
    height: 100px;
}

.consultation-button {
    background-color: #D8B528;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.consultation-button:hover {
    background-color: #c3a321;
}

.input-message {
    height: 10px;
}

@media (max-width: 768px) {
    .consultation-image {
        display: none;
    }
    .consultation-container {
        padding: 0%;
        margin: 0%;
    }

    .product-section{
        padding: 0px;
        justify-items: center;
        align-items: center;
    }
    .product-row {
        padding: 0.5%;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    
    .product-block {
        height: 190px;
        width: 380px;
        display: inline-block;
    }

}

.alliance-container {
    max-width: 1200px;
    margin: 0 auto;
}

.alliance-row {
    background-color: #f0da83;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
}

.alliance-title {
    text-align: center;
    margin-bottom: 20px;
}

.alliance-title h2 {
    font-size: 32px;
}

.alliance-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scrollbar-width: none;
    justify-content: center;
}

.alliance-slider::-webkit-scrollbar {
    display: none;
}

.alliance-slider .alliance-item {
    flex: 0 0 auto;
}

.alliance-slider img {
    max-height: 50px;
    width: auto;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.text-button-banner{
    color: #020202;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline */
    
}
.text-button-banner:hover {
    color: #D8B528;
}


.col-form {
    flex: 1;
}

.form-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.theme-form-one .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.theme-form-one input,
.theme-form-one select,
.theme-form-one textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.theme-button-one {
    background-color: #D8B528;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline */
}

.theme-button-one:hover {
    background-color: #c3a321;
}

.theme-title-products, .alliance-title {
    text-align: center;
}

.short-banner-section-spacing .overlay {
    padding: 50px 0;
    text-align: center;
}

.short-banner-section-spacing h2 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}